.Dialoglog {
  border: 2px outset #888;
  background-color: white;
  color: black;
  padding: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* gap: 8px; */
  font-family: "Courier New", Courier, monospace;
}
