form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 8px;
}

div.section,
div.subsection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  padding: 8px 0;
  max-width: 100%;
}

div.subsection {
  padding: 8px;
}

div.subsection.wrapper {
  border: 1px solid currentColor;
  margin: 8px;
}

div.section label {
  font-family: "TrollCall Display", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  display: inline-block;
  width: 100%;
}

div.section input,
div.section textarea,
select,
div.section button[type="button"] {
  width: 28ch;
  background-color: var(--pri-box);
  border: 1px solid transparent;
  color: var(--pri-text);
}

div.section textarea {
  display: inline-block;
  max-width: 100%;
}

div.section input[type="number"] {
  width: 8ch;
}

div.section button[type="button"] {
  width: max-content;
}

div.section input::placeholder,
div.section textarea::placeholder,
select::placeholder {
  color: #c0c0c0;
}

div.section input:hover,
div.section input:focus,
div.section input:active,
div.section textarea:hover,
div.section textarea:focus,
div.section textarea:active,
select:hover,
select:focus,
select:active,
div.section button[type="button"]:hover,
div.section button[type="button"]:focus,
div.section button[type="button"]:active {
  outline: none;
  border: 1px dotted var(--pri-text);
  color: var(--pri-text);
}

div.section div.error {
  color: #ff8080;
  text-shadow: 0 0 1px currentColor;
}

div.section div.note {
  opacity: 0.5;
}

div.FieldGroup input {
  width: 14ch;
}
