@font-face {
  font-family: "Space Grotesk";
  src: url("/assets/fonts/SpaceGrotesk.ttf") format("truetype");
}
@font-face {
  font-family: "TrollCall Display";
  src: url("/assets/fonts/TrollCallDisplay-Regular.otf") format("opentype"),
    url("/assets/fonts/TrollCallDisplay-Regular.woff") format("woff"),
    url("/assets/fonts/TrollCallDisplay-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Flow Circular";
  src: url("/assets/fonts/FlowCircular-Regular.ttf") format("truetype");
}

:root {
  --pri-box: #888880;
  --pri-text: #fffff8;
  --sec-box: #484840;
  --sec-text: #c8c8c0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  background-color: var(--sec-box);
  background-image: url(/assets/pattern.png);
  color: var(--sec-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 8px;
  gap: 8px;
}

body div.layout {
  width: 100%;
  height: max-content;
  max-width: 768px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 8px;
  /* border: 1px solid red; */
}

div.paragraph {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

div.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  justify-content: space-around;
  align-items: center;
}

div.gallery img {
  width: 100%;
  object-fit: contain;
}

div.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  padding: 8px;
}

/* INDV. ELEMENT STYLES */

a {
  /* display: inline; */
  color: inherit;
  text-decoration: none;
  text-shadow: 0 0 2px currentcolor;
  transition: text-shadow 0.125s;
}

a:hover {
  text-decoration: underline;
  text-shadow: 0 0 4px currentcolor;
}

hr {
  /* visibility: hidden; */
  width: 100%;
  color: transparent;
  padding: 0;
  margin: 8px 0;
}

p,
ul,
ol {
  margin: 0;
  line-height: 22px;
}

span {
  margin: 0;
}

img.icon {
  display: inline-block;
  aspect-ratio: 1 / 1;
  -webkit-filter: drop-shadow(1px 1px 0 currentcolor)
    drop-shadow(-1px -1px 0 currentcolor) drop-shadow(1px -1px 0 currentcolor)
    drop-shadow(-1px 1px 0 currentcolor);
  filter: drop-shadow(1px 1px 0 currentcolor)
    drop-shadow(-1px -1px 0 currentcolor) drop-shadow(1px -1px 0 currentcolor)
    drop-shadow(-1px 1px 0 currentcolor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "TrollCall Display", sans-serif;
  text-transform: uppercase;
  font-size: 18px !important;
  line-height: 24px;
  margin: 0 !important;
  font-weight: normal;
}

.largelink:hover {
  text-decoration: none;
}

.loading {
  font-family: "Flow Circular";
}
