body div.layout {
  width: 100%;
  height: max-content;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 8px;
  /* border: 1px solid red; */
}
