.SignBadge {
  background-color: var(--pri-box);
  color: var(--pri-text);
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 8px;
  padding: 8px 16px;
  padding-left: 8px;
  width: max-content;
  border: 1px solid var(--pri-text);
  box-shadow: 0 0 0 transparent;
  transition: box-shadow 0.25s;
  cursor: pointer;
}

.SignBadge:hover {
  box-shadow: 0 0 8px var(--pri-text);
}
