.Box {
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.Box.solid {
  border: 1px solid var(--sec-text);
  background-color: var(--sec-box);
  color: var(--sec-text);
  border-radius: 2px;
}

.Box.primary {
  border: 1px solid var(--pri-text);
  background-color: var(--pri-box);
  color: var(--pri-text);
}

.Box .title {
  padding: 0;
  margin: 0;
  font-family: "TrollCall Display", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
}

.Box .title.small {
  font-size: 14px;
  line-height: 18px;
}

.Box .children {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  padding: 8px;
}

.Box hr {
  border: none;
  border-bottom: 1px solid var(--sec-text);
}

.Box.primary hr {
  border: none;
  border-bottom: 1px solid var(--pri-text);
}
