.Nav {
  width: 100%;
  min-height: 56px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: 1px solid var(--pri-text);
  background-color: var(--pri-box);
  color: var(--pri-text);
  border-radius: 2px;
}

.Nav .left {
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.Nav .right {
  text-align: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}

.Nav * {
  vertical-align: middle;
}

.Nav .logo {
  font-family: "TrollCall Display", sans-serif;
  text-transform: uppercase;
  word-break: break-all;
  text-align: left;
  font-size: 16px;
  line-height: 20px;
}

.Nav .path {
  text-align: right;
  word-break: break-all;
}
