.Nav {
  width: 100%;
  min-height: 56px;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
  word-break: keep-all;
  white-space: nowrap;
  gap: 16px;
  padding: 16px 8px;
  border: 1px solid var(--pri-text);
  background-color: var(--pri-box);
  color: var(--pri-text);
  border-radius: 2px;
}

.Nav * {
  vertical-align: middle;
}

.Nav .logo {
  font-family: "TrollCall Display", sans-serif;
  text-transform: uppercase;
  word-break: keep-all;
  white-space: nowrap;
  text-align: left;
  font-size: 16px;
  line-height: 20px;
}

.Nav .path {
  text-align: right;
  word-break: break-all;
}
